body {background-color: #aaf4ff;}
h1 { text-align: center; color: #ff2b5f;}
h2 { text-align: center; color: #831671;}

.imagen-adaptable {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.texto-sobre-imagen {
  background-image: url('/rcs/bghorizontal.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.contenedorExterior {
    margin: 0 auto;
    padding: 0;
    width: 600px;
}
#pie {
    color: #ffb200;
    background-color: #ff40bd;
    height: 45px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}