html {
    margin: 0;
    padding: 0;
    background: #efefef;
    color: #000000;
  }

  body {
    width: 80%;
    margin: 20px auto;
  }
  
  .limpar {
    clear: both;
  }
  
  header, nav, aside, section, article {
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    font-size: 18;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Tahoma';
  }
  
  header {
    background: white;
  }
  
  nav {
    background: cyan;
  }
  
  nav ul {
    list-style: none;
  }
  
  .boton_1 {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #58D3F7;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  
  aside {
    float: left;
    width: 30%;
    height: 200px;
  }
  
  section {
    float: right;
    width: 70%;
    height: 200px;
    background: #A9D0F5;
  }
  
  aside div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .imagen:hover {
    filter: saturate(50%);
  }
  
  article {
    margin: 10px auto;
    background: #6072BC;
    width: 90%;
  }
  
  .contenedorExterior {
    margin: 0 auto;
    padding: 0;
    width: 600px;
    height: 45px;
    text-align: center;
  }
  